{# {{ function('dd', fields) }} #}

{% if fields.items|length %}
	{% cache "block;" ~ post.id ~ ";" ~ block.id ~ ";" ~ post.modified_timestamp ~ ";" ~ cache_key %}

	<section class="{{ block.slug }} bg-{{ fields.bg }}">
		{% if block.anchor %}
			<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
		{% endif %}

		<div class="s-nav bg-{{ fields.bg }}">
			<div class="s-nav-outer">
				<div class="container">
					<div class="s-nav-inner">
						{% for item in fields.items %}
							{% if item.is_parent %}
								{% if item.title %}
									<div class="item parent">
										<div class="item-inner">
											<p class="xs">{{ item.title }}</p>

											<svg class="shrink-0 w-[0.5625rem] h-[0.3125rem]" width="9" height="5" viewbox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M1 0.354207L4.42882 3.64587L7.85764 0.354207" stroke="#262626" stroke-miterlimit="10"/>
											</svg>
										</div>

										{% if item.children|length %}
											<div class="item-children bg-{{ fields.bg }}">
												{% for child in item.children %}
													{% set cta = child.link %}
													{% if cta %}
														{% set link_url = cta.url ?: "#" %}
														{% set link_title = cta.title %}
														{% set link_target = cta.target ?: "_self" %}

														<a class="item-child" href="{{ link_url }}" target="{{ link_target }}">
															<p class="xs">{{ link_title }}</p>
														</a>
													{% endif %}
												{% endfor %}
											</div>
										{% endif %}
									</div>
								{% endif %}
							{% else %}
								{% set cta = item.link %}
								{% if cta %}
									{% set link_url = cta.url ?: "#" %}
									{% set link_title = cta.title %}
									{% set link_target = cta.target ?: "_self" %}

									<a class="item" href="{{ link_url }}" target="{{ link_target }}">
										<div class="item-inner">
											<p class="xs">{{ link_title }}</p>
										</div>
									</a>
								{% endif %}
							{% endif %}
						{% endfor %}
					</div>

					<div class="s-nav-mobile">
						<svg class="h-[1.25rem] w-[1.25rem]" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M17.7082 4.79102H14.7915" stroke="#262626" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"/>
							<path d="M12.2915 4.79102H2.2915" stroke="#262626" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"/>
							<path d="M2.2915 15.209H11.4582" stroke="#262626" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"/>
							<path d="M13.9585 15.209H17.7085" stroke="#262626" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"/>
							<path d="M2.2915 10H5.20817" stroke="#262626" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"/>
							<path d="M7.7085 10H17.7085" stroke="#262626" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"/>
							<path d="M13.5415 6.87565C12.8511 6.87565 12.2915 6.31607 12.2915 5.62565V3.95898C12.2915 3.26857 12.8511 2.70898 13.5415 2.70898C14.2319 2.70898 14.7915 3.26857 14.7915 3.95898V5.62565C14.7915 6.31607 14.2319 6.87565 13.5415 6.87565Z" stroke="#262626" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M12.7085 17.2917C12.0181 17.2917 11.4585 16.7321 11.4585 16.0417V14.375C11.4585 13.6846 12.0181 13.125 12.7085 13.125C13.3989 13.125 13.9585 13.6846 13.9585 14.375V16.0417C13.9585 16.7321 13.3989 17.2917 12.7085 17.2917Z" stroke="#262626" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M6.4585 12.0827C5.76808 12.0827 5.2085 11.5231 5.2085 10.8327V9.16602C5.2085 8.4756 5.76808 7.91602 6.4585 7.91602C7.14891 7.91602 7.7085 8.4756 7.7085 9.16602V10.8327C7.7085 11.5231 7.14891 12.0827 6.4585 12.0827Z" stroke="#262626" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>

                        <p>Filter</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	{% endcache %}
{% endif %}
