{% if blogs|length %}
	{% cache "block;" ~ post.id ~ ";" ~ block.id ~ ";" ~ post.modified_timestamp ~ ";" ~ cache_key %}

	<section class="{{ block.slug }} bg-{{ fields.bg }}">
		{% if block.anchor %}
			<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
		{% endif %}

		{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "st-xl" %}
		{% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-xxl" %}

		<div class="container">
			<div class="{{ pt }} {{ pb }} relative z-[2]">
				<div class="flex max-lg:flex-col ~gap-[1.5rem]/[2.25rem]">
					<div class="lg:flex-1 lg:max-w-[14.375rem] lg:shrink-0 lg:pr-[2rem] lg:border-r-[0.0625rem] border-r-black-20">
						<div class="flex lg:flex-col gap-[0.75rem] max-lg:flex-wrap max-md:hidden">
							<div class="cat-btn active" data-category="show-all">
								<p>{{ fields.all_filters_text }}</p>
							</div>

							{% for index, item in categories %}
								<div class="cat-btn" data-category="{{ item.slug }}">
									<p>{{ item.name }}</p>
								</div>
							{% endfor %}
						</div>

						<div class="md:hidden w-full">
							<div class="jselect">
								<select>
									<option value="show-all" selected>{{ fields.all_filters_text }}</option>
									{% for index, item in categories %}
										<option value="{{ item.slug }}">{{ item.name }}</option>
									{% endfor %}
								</select>

								<svg class="w-[1.5rem] h-[1.5625rem]" width="24" height="25" viewbox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M18 9.11328L12 15.1133L6 9.11328" stroke="#262626"/>
								</svg>
							</div>
						</div>
					</div>

					<div class="flex flex-col gap-[1rem] flex-1 h-fit">
						<div class="flex max-md:flex-col md:mx-[-1.125rem] md:flex-wrap">
							{% for index, post in blogs %}
								{% set id = post.ID %}
								{% set post_date = post.post_date|date("n/j/Y") %}
								{% set image = function("get_post_thumbnail_id", id) %}

								{% set category_names = [] %}

								{% for category in post.categories %}
									{% set category_names = category_names | merge([category.slug]) %}
								{% endfor %}

								{% if index == 2 %}
									<div class="blog-card blog-item email-form" data-category="all">
										<div class="blog-card-inner">
											<div class="flex gap-[0.75rem]">
												<img class="w-[1.5625rem] h-[1.5625rem] object-contain" src="{{ function("png", "rss") }}" width="25" height="25" loading="lazy" alt="rss">
												<p class="lg text-white">{{ fields.email_form.title ?: 'Stay connected' }}</p>
											</div>

											<input type="email" placeholder="Email address">

											<a class="btn white has-border has-arrow w-full" type="button" href="#">
												<svg width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M8.55697 10.375L11.8486 6.94618L8.55697 3.51736" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
													<path d="M1.01411 0.500006L1.0141 5.84896C1.0141 6.45463 1.50566 6.94618 2.11133 6.94618L11.9863 6.94618" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
												</svg>

												<p>{{ fields.email_form.cta_text ?: 'Subscribe' }}</p>
											</a>

											<div class="blog-form-graphic">
												<img class="object-contain" src="{{ function("svg", "form-robot") }}" width="218" height="214" loading="lazy" alt="form robot background">
											</div>
										</div>
									</div>
								{% endif %}

								{% include 'components/blog-card.twig' with {
                                    "cardClass": "blog-item in-filter",
                                    "title": post.title,
                                    "permalink": post.link,
                                    "image": image,
                                    "date": post_date,
                                    "categories": category_names,
                                } %}
							{% endfor %}
						</div>

                        <div class="empty hidden text-center">
							<p class="lg">{{ fields.empty_state_text }}</p>
						</div>

						<div class="btn load-more has-arrow blue filled mx-auto">
							<svg width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M8.55697 10.375L11.8486 6.94618L8.55697 3.51736" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
								<path d="M1.01411 0.500006L1.0141 5.84896C1.0141 6.45463 1.50566 6.94618 2.11133 6.94618L11.9863 6.94618" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
							</svg>

							<p>{{ fields.load_more_text }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	{% endcache %}
{% endif %}
