{# {{ function('dd', fields) }} #}
{% cache "block;" ~ post.id ~ ";" ~ block.id ~ ";" ~ post.modified_timestamp ~ ";" ~ cache_key %}

{% set is_single = function("is_single") %}

<section class="{{ block.slug }}-{{ fields.coverage }} {{ is_single ? " is-under-post" }}">
	{% if block.anchor %}
		<div class="section-anchor" id="{{ block.anchor ?? block.id }}"></div>
	{% endif %}
    
	{% set pt = fields.padding_top and fields.padding_top != "unset" ? fields.padding_top : "~pt-[7.25rem]/[10.25rem]" %}
	{% set pb = fields.padding_top and fields.padding_bottom != "unset" ? fields.padding_bottom : "sb-xxl" %}

	<div class="container {{ pt }} {{ pb }}">
		<div class="flex flex-col ~gap-[2rem]/[3rem] {{ is_single ? "~px-[0rem]/[7.125rem]" }}">
			{% if fields.coverage == 'start' and fields.has_header %}
				{% set title = fields.header.title %}
				{% set subtext = fields.header.subtext %}

				{% if title or subtext %}
					<div class="flex flex-col ~gap-[1.5rem]/[2.25rem] ~pb-[2rem]/[3rem] border-b-[0.0625rem] border-b-gray-2">
						{% if title %}
							{% include 'components/heading.twig' with {
                                'class': 'main-title text-teal lg:max-w-[80%]',
                                'value': title, 
                                'type': "h1",
                                'has_custom_style': false,
                                'to_words': true
                            } %}
						{% endif %}

						{% include 'components/eyebrow.twig' with { 'text': subtext } %}
					</div>
				{% endif %}
			{% endif %}

			<div class="content"></div>
		</div>
	</div>
</section>
{% endcache %}
